<div>
  <h1>Product Page</h1>
  <h2>{{this.title}}</h2>
  <p>Categoria: {{this.category}}</p>
  <p>Body: {{this.body}}</p>
  <p>Preco: {{price}}</p>
  <p><a href="/product/{{this.id}}">Ver Produto</a></p>
</div>